* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

.varients {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.varients li {
  list-style: none;
}

.varients li p {
  text-decoration: none;
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  margin-left: 3px;
  font-weight: bold;
}

/* page scroller */

::-webkit-scrollbar {
  width: 13px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background: #222238;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 150px;
}

.totalPrice {
  float: right;
  color: aqua;
}

.dataSelected {
  background: white;
  color: black;
}
